:local .Card {
  position : relative;
  width    : 100%;

  & + .Card {
    margin-top : -135%;
  }

  &:before {
    content     : '';
    display     : block;
    padding-top : 150%;
  }

  &--color-red {
    color : red;
  }

  .item {
    background-color : white;
    border-radius    : 10px;
    box-shadow       : 0 0 3px rgba(0, 0, 0, 0.5);
    bottom           : 0;
    left             : 0;
    position         : absolute;
    right            : 0;
    top              : 0;
  }

  .symbol-top,
  .symbol-bottom {
    position : absolute;
  }

  .symbol-top {
    left : 5px;
    top  : 5px;
  }

  .symbol-bottom {
    bottom    : 5px;
    right     : 5px;
    transform : rotateX(180deg);
  }
}
